.green-box {
  max-height: 75rem;
  background-color: $c-primary;
  border-radius: 10px;
  padding-left: 11.1rem;
  padding-top: 10.9rem;
  padding-right: 11.1rem;
  padding-bottom: 11.5rem;
  display: flex;
  column-gap: 4rem;

  &__left {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  &__contact-wrap:first-child {
    margin-bottom: 3.2rem;
  }

  &__right {
    flex: 0 0 53.5rem;
  }
}