*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  font-family: inherit;
  font-size: inherit;

  &:hover {
      background: transparent;
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent;
      cursor: pointer;
  }

  &:active {
      outline: none;
      border: none;
  }

  &:focus {
      outline: 0;
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: $c-dark-green;
  color: $c-white;
}

.centered {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 14.4rem;
  padding-bottom: 14.4rem;

  @include respond(br930) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @include respond(br680) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.row {
  flex: 0 1 135.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;

  @include respond(br680) {
    padding-left: 0;
    padding-right: 0;
  }
}