body {
  font-family: $font-poppins;
  color: $c-white;
  font-weight: $f-regular;
  font-size: 1.4rem;
  line-height: 2.4rem;
  background-color: $c-black;
}

@mixin txt-h1 {
  font-family: $font-poppins;
  font-weight: $f-semibold;
  font-size: 5.6rem;
  line-height: 6.4rem;

  @include respond(br680) {
    font-size: 3.2rem;
    line-height: 3.6rem;
  } 
}
.txt-h1 { @include txt-h1; }

@mixin txt-h2 {
  font-family: $font-poppins;
  font-weight: $f-semibold;
  font-size: 4rem;
  line-height: 4.8rem;

  @include respond(br680) {
    font-size: 2.4rem;
    line-height: 3.2rem;
  } 
}
.txt-h2 { @include txt-h2; }

@mixin txt-body-regular {
  font-family: $font-poppins;
  font-weight: $f-regular;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.txt-body-regular { @include txt-body-regular; }

@mixin txt-body-medium {
  font-family: $font-poppins;
  font-size: 1.6rem;
  line-height: 2.8rem;

  @include respond(br680) {
    font-size: 1.4rem;
    line-height: 2.4rem;
  } 
}
.txt-body-medium { @include txt-body-medium; }

@mixin txt-input-label {
  font-family: $font-poppins;
  color: $c-white;
  font-weight: $f-semibold;
  font-size: 1rem;
  line-height: 2.4rem;
}
.txt-input-label { @include txt-input-label; }

.link {
  @include txt-body-regular;
  font-weight: $f-semibold;
  text-decoration: underline;
}